<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="300011" id="org.lametro.metromobilite" ios-CFBundleVersion="3.10.00" version="3.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MetroMobilite</name>
    <description>
        Métromobilité, c'est le service unique qui regroupe toute vos informations de déplacement sur la métropole grenobloise.
    </description>
    <author email="contact@metromobilite.fr" href="https://www.metromobilite.fr">
        Métropole Grenoble-Alpes-Métropole (Métro)
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <access origin="https://metromobilite.fr/*" />
    <access origin="https://www.metromobilite.fr/*" />
    <access origin="https://www.metromobilite.fr/stats/piwik.php" />
    <access origin="https://data.metromobilite.fr/*" />
    <access origin="https://preprod.metromobilite.fr/*" />
    <access origin="https://datatest.metromobilite.fr/*" />
    <access origin="https://siv.metromobilite.fr/*" />
    <access origin="https://openlayers.org/*" />
    <access origin="https://*.openstreetmap.org/*" />
    <access origin="https://*.tiles.wmflabs.org/*" />
    <access origin="https://api-adresse.data.gouv.fr/*" />
    <access origin="https://*.basemaps.cartocdn.com/*" />
    <access origin="https://www.tag.fr/*" />
    <access origin="http://www.air-rhonealpes.fr/*" />
    <access origin="http://www.atmo-auvergnerhonealpes.fr/*" />
    <access origin="https://www.atmo-auvergnerhonealpes.fr/*" />
    <access origin="https://s.notify.live.net/*" />
    <access origin="itms-apps://itunes.apple.com/us/app/domainsicle-domain-name-search/*" />
    <access origin="markets://details/*" />
    <access origin="https://www.microsoft.com/fr-fr/store/apps/metromobilite/9nblggh1jp80/*" />
    <preference name="loadUrlTimeoutValue" value="15000" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="25" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="Orientation" value="portrait" />
    <platform name="ios">
        <preference name="fullscreen" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <config-file parent="NSPhotoLibraryUsageDescription" platform="ios" target="*-Info.plist">
            <string>Permet de photographier les évènements en cours - Show current events</string>
        </config-file>
        <config-file mode="add" parent="ITSAppUsesNonExemptEncryption" target="*-Info.plist">
            <false />
        </config-file>
        <icon height="180" src="config/ios/Resources/icons/icon-60@3x.png" width="180" />
        <icon height="60" src="config/ios/Resources/icons/icon-60.png" width="60" />
        <icon height="120" src="config/ios/Resources/icons/icon-60@2x.png" width="120" />
        <icon height="76" src="config/ios/Resources/icons/icon-76.png" width="76" />
        <icon height="152" src="config/ios/Resources/icons/icon-76@2x.png" width="152" />
        <icon height="40" src="config/ios/Resources/icons/icon-40.png" width="40" />
        <icon height="80" src="config/ios/Resources/icons/icon-40@2x.png" width="80" />
        <icon height="57" src="config/ios/Resources/icons/icon.png" width="57" />
        <icon height="114" src="config/ios/Resources/icons/icon@2x.png" width="114" />
        <icon height="72" src="config/ios/Resources/icons/icon-72.png" width="72" />
        <icon height="144" src="config/ios/Resources/icons/icon-72@2x.png" width="144" />
        <icon height="29" src="config/ios/Resources/icons/icon-small.png" width="29" />
        <icon height="58" src="config/ios/Resources/icons/icon-small@2x.png" width="58" />
        <icon height="50" src="config/ios/Resources/icons/icon-50.png" width="50" />
        <icon height="100" src="config/ios/Resources/icons/icon-50@2x.png" width="100" />
        <splash height="480" src="config/ios/Resources/splash/Default~iphone.png" width="320" />
        <splash height="960" src="config/ios/Resources/splash/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="config/ios/Resources/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="config/ios/Resources/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="config/ios/Resources/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="config/ios/Resources/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="config/ios/Resources/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="config/ios/Resources/splash/Default-667h.png" width="750" />
        <splash height="2208" src="config/ios/Resources/splash/Default-736h.png" width="1242" />
        <splash height="1242" src="config/ios/Resources/splash/Default-Landscape-736h.png" width="2208" />
    </platform>
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="5000" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <splash density="port-hdpi" src="config/android/res/drawable-hdpi/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="config/android/res/drawable-ldpi/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="config/android/res/drawable-mdpi/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="config/android/res/drawable-xhdpi/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="config/android/res/drawable-xxhdpi/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="config/android/res/drawable-xxxhdpi/splash-port-xxxhdpi.png" />
        <icon density="hdpi" src="config/android/res/drawable-hdpi/icon-hdpi.png" />
        <icon density="ldpi" src="config/android/res/drawable-ldpi/icon-ldpi.png" />
        <icon density="mdpi" src="config/android/res/drawable-mdpi/icon-mdpi.png" />
        <icon density="xhdpi" src="config/android/res/drawable-xhdpi/icon-xhdpi.png" />
        <icon density="xxhdpi" src="config/android/res/drawable-xxhdpi/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="config/android/res/drawable-xxxhdpi/icon-xxxhdpi.png" />
        <hook src="remove_permissions.js" type="after_prepare" />
    </platform>
    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="windows-phone-target-version" value="10.0" />
        <preference name="WindowsDefaultUriPrefix" value="ms-appx-web://" />
        <icon height="360" src="config/windows/res/wp/icon-360x360.png" width="360" />
        <icon height="30" src="config/windows/res/wp/icon-30x30.png" width="30" />
        <icon height="44" src="config/windows/res/wp/icon-44x44.png" width="44" />
        <icon height="310" src="config/windows/res/wp/icon-310x310.png" width="310" />
        <icon height="150" src="config/windows/res/wp/icon-150x150.png" width="150" />
        <icon height="70" src="config/windows/res/wp/icon-70x70.png" width="70" />
        <icon height="71" src="config/windows/res/wp/icon-71x71.png" width="71" />
        <icon height="50" src="config/windows/res/wp/icon-50x50.png" width="50" />
        <icon height="120" src="config/windows/res/wp/icon-120x120.png" width="120" />
        <icon height="150" src="config/windows/res/wp/icon-310x150.png" width="310" />
        <icon height="360" src="config/windows/res/wp/icon-744x360.png" width="744" />
        <icon height="170" src="config/windows/res/wp/icon-170x170.png" width="170" />
        <icon height="106" src="config/windows/res/wp/icon-106x106.png" width="106" />
        <splash height="300" src="config/windows/res/wp/splashscreen-620x300.png" width="620" />
        <splash height="1920" src="config/windows/res/wp/splashscreen-1152x1920.png" width="1152" />
        <preference name="Fullscreen" value="false" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="SplashScreenDelay" value="10000" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="WindowsToastCapable" value="true" />
    </platform>
    <platform name="browser">
        <preference name="ShowSplashScreen" value="false" />
        <preference name="SplashScreen" value="img/logo.png" />
    </platform>
    <plugin name="com.darktalker.cordova.screenshot" spec="^0.1.6" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-console" spec="^1.0.7" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.3" />
    <plugin name="cordova-plugin-email" spec="^1.2.6" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <plugin name="cordova-plugin-screen-orientation" spec="^2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-vibration" spec="^2.1.5" />
    <plugin name="cordova-plugin-compat" spec="~1.1.0" />
    <plugin name="cordova-plugin-media" spec="^3.0.1">
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="phonegap-plugin-push" spec="^1.8.4">
        <variable name="SENDER_ID" value="709890538034" />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <engine name="android" spec="^6.2.0" />
    <engine name="browser" spec="^5.0.2" />
    <engine name="windows" spec="^5.0.0" />
</widget>
